.imgsServiceAnimation {
    overflow: hidden;
    z-index: -10;
}
.imgsServiceAnimation img {
    object-fit: cover !important;
}
.cardRangeSection {
    overflow-x: auto;
}
.cardRangeSection::-webkit-scrollbar {
    display: none;
}