.feedbacks {
  max-height: 650px;
  overflow-y: auto;
}
.feedbacks::-webkit-scrollbar{
  width: 2px;
  margin-left: 3px;
}
.feedbacks::-webkit-scrollbar-track{
  background-color: var(--backgrounds-color);
}


.card-review {
    background-color:var(--elements-color);
    border-radius: 10px;
    transition: transform 0.3s ease;
    border: 1px solid var(--white-color);
  }
  
  .card-review:hover {
    transform: translateY(-5px);
  }
  
  /* Ensure that the card text area does not overflow */
  .comment-review p {
    flex-grow: 1;
  }

@media (max-width : 420px){
  .username-job h5 {
    font-size: 14px !important;
  }
  .username-job p {
    font-size: 12px !important;
  }
  .userProfile {
    gap: 10px !important;
  }

}