@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.card-review {
    background-color:var(--elements-color);
    border-radius: 10px;
    height: 250px;
    transition: transform 0.3s ease;
    border: 1px solid var(--white-color);
  }
  
  .card-review:hover {
    transform: translateY(-5px);
  }
  
  /* Style the user profile image */
  .userProfile img {
    border: 2px solid #ddd;
  }
  
  /* Ensure that the card text area does not overflow */
  .comment-review p {
    flex-grow: 1;
  }