.presentSection {
    height: calc(100vh - 200px);
    overflow: hidden;
}
.presentSection .img::after {
  content: '';
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--elements-color);
  right: -30%;
  top: -30%;
  z-index: -1;
}

