*{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 0;
}
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #FF8000;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background-color: #ffc68d9b;
}