a{
    text-decoration: none !important;
    color: inherit !important;
}
*{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 0;
    scroll-behavior: smooth !important;
}

html {
    scroll-behavior: smooth !important;
}

:root {
    --backgrounds-color : #0B0C10 ;
    --light-bg : #EEF5FA;
    --btn-color : #007CC7 ;
    --white-color : #FFFFFF ;
    --elements-color : #071620;     
}
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--btn-color);
}
::-webkit-scrollbar-track {
    background-color: var(--white-color);
}
/* body {
    background-color: var(--backgrounds-color) !important;
} */
body.light-mode {
    background-color: var(--light-bg) !important;
    color: var(--backgrounds-color) !important;
}

