@font-face {
    font-family: 'varien';
    src: url('./assets/fonts/varien.otf') format('opentype');
}


*{
    padding: 0;  
    /* font-weight: 100;   */
}

h1 , h2 , h3 , h4 , button , .s-key{
    font-family: "varien", sans-serif !important;

}

:root {
    --backgrounds-color : #0B0C10 ;
    --light-bg : #EEF5FA;
    --btn-color : #007CC7 ;
    --white-color : #FFFFFF ;
    --elements-color : #071620;     
}
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--btn-color);
}
::-webkit-scrollbar-track {
    background-color: var(--white-color);
}


body.light-mode {
    background-color: var(--light-bg) !important;
    color: var(--backgrounds-color) !important;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}